.container{
	max-width: 1024px;
}

/* core */
@media (min-width: 768px){
	.main-raised{
		margin: -60px 30px;
	}
}

@media (max-width: 768px){
	.section{
		padding: 30px 0;
	}
}

.info{
	padding: 0;
}

/* fonts */
.lora{
	font-family: 'Lora', serif;
}

.sacramento{
	font-family: 'Sacramento', cursive;
}

/* header */
.landing-page .wrapper .header{
	background-size: cover;
	background-attachment: fixed;
}

@media (max-width: 768px){
	.landing-page .header .container{
		padding-top: 16vh;
	}
	.landing-page .wrapper .header{
		background-attachment: initial;
	}
}

.landing-page .wrapper .header#h1{
	background-image: url('/images/bg1.jpg');
}

.landing-page .wrapper .header#h2{
	background-image: url('/images/bg2.jpg');
}

.landing-page .wrapper .header#h3{
	background-image: url('/images/bg3.jpg');
}

.landing-page .wrapper .header .title#h1{
	line-height: 60px;
	margin-bottom: 40px;
}

.landing-page .wrapper .header .title span{
}

.landing-page .wrapper .header .title-lg{
	font-size: 80px;
}

@media (max-width: 768px){
	.landing-page .wrapper .header .title{
		font-size: 40px;
	}
	.landing-page .wrapper .header .title-lg{
		font-size: 60px;
	}
}


/* raised */
.landing-page .wrapper .main-raised{

}

@media (min-width: 768px){
	.landing-page .wrapper .main-raised.last{
		margin: -60px 30px 0 30px;
	}
}

.landing-page .wrapper .main-raised .section-landing{

}

.landing-page .wrapper .main-raised .section-landing .features{
	padding-top: 0;
}

.landing-page .wrapper .main-raised .section-landing .features .caratula{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	border-radius: 2px;
	border: 0;
	margin: 0 auto;
}

.landing-page .wrapper .main-raised .section-landing .features .caratula.bg{
	max-width: 200px;
}

.landing-page .wrapper .main-raised .section-landing .features .caratula.autora{
	max-height: 400px;
}

@media (max-width: 768px){
	.landing-page .wrapper .main-raised .section-landing .features .caratula{
		margin-bottom: 30px;
	}
}

.landing-page .wrapper .main-raised .section-landing p{
	text-align: left;
}
